<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Employee Input Form</title>
</head>

<body>
    <header class="header-content header">
        <div class="logo-content">
            <img src="./assets/images/logo.png" alt="logo">
            <div>
                <span class="emp-text">EMPLOYEE</span><br>
                <span class="emp-text emp-payroll">PAYROLL</span>
            </div>
        </div>
    </header>
    <div class="form-content">
        <form class="form" [formGroup]="employeeForm" (ngSubmit)="onsubmit()">
            <div class="form-head">Employee Payroll Form</div>
            <div class="row-content">
                <label for="name" class="label text">Name</label>
                <input type="text" name="name" id="name" class="input required" placeholder="Enter Your Name ..."
                    autocomplete="off" required formControlName="name"><br> <br>
                <br><span class="validate" *ngIf="name && name.invalid && name.touched "> The given name is invalid It
                    should start with capital letter.</span>

            </div>
            <div class="row-content">
                <label class="label text" for="profile">Profile image</label>
                <div class="profile-radio-content">
                    <mat-radio-group ngDefaultControl formControlName="profile">
                        <mat-radio-button name="profile" color="primary" value="../assets/profile-images/Ellipse -1.png">
                            <img class="profile" id='image1' src="../assets/profile-images/Ellipse -8.png">
                        </mat-radio-button>
                        <mat-radio-button name="profile" color="primary" value="../assets/profile-images/Ellipse -2.png">
                            <img class="profile" id='image2' src="../assets/profile-images/Ellipse -5.png">
                        </mat-radio-button>
                        <mat-radio-button name="profile" color="primary" value="../assets/profile-images/Ellipse -3.png">
                            <img class="profile" id='image3' src="../assets/profile-images/Ellipse -1.png">
                        </mat-radio-button>
                        <mat-radio-button name="profile" color="primary" value="../assets/profile-images/Ellipse -4.png">
                            <img class="profile" id='image4' src="../assets/profile-images/Ellipse -7.png">
                        </mat-radio-button>
    
                    </mat-radio-group>
                    <!-- <label>
                        <input type="radio" id="profile2" name="profile" value="./assets/profile-images/Ellipse -8.png"
                            formControlName="profile">
                        <img class="profile" id="image1" src="./assets/profile-images/Ellipse -8.png">
                    </label>
                    <label>
                        <input type="radio" id="profile2" name="profile" value="./assets/profile-images/Ellipse -4.png"
                            formControlName="profile">
                        <img class="profile" id="image2" src="./assets/profile-images/Ellipse -5.png">
                    </label>
                    <label>
                        <input type="radio" id="profile3" name="profile" value="./assets/profile-images/Ellipse -1.png"
                            formControlName="profile">
                        <img class="profile" id="image3" src="./assets/profile-images/Ellipse -1.png">
                    </label>
                    <label>
                        <input type="radio" id="profile4" name="profile" value="../assets/profile-images/Ellipse -7.png"
                            formControlName="profile">
                        <img class="profile" id="image4" src="../assets/profile-images/Ellipse -7.png">
                    </label> -->
                </div>
            </div>
            <div class="row-content">
                <label class="label text" for="gender">Gender</label>
                <div>

                    <input type="radio" id="male" name="gender" value="Male" formControlName="gender">
                    <label class="text" for="male">Male</label>

                    <input type="radio" id="female" name="gender" value="Female" formControlName="gender">
                    <label class="text" for="female">Female</label>
                </div>
                <span class="validate" *ngIf="!employeeForm.controls['gender'].valid ">"This field is mandatory."
                </span>
            </div>
            <div class="row-content">
                <label class="label text" for="department">Department</label>
                <div *ngFor="let department of departmentList">
                    <mat-checkbox #checkbox class="checkbox" type="checkbox" color="primary" [value]="department.value" [checked]='department.checked' formControlName="department">
                        <label class="text">{{department.name}}</label>
                    </mat-checkbox>
                </div>
                <!-- <div>
                    <input class="checkbox" type="checkbox" id="hr" name="department" value="HR"
                        formControlName="department">
                    <label class="text" for="hr">HR</label>
                    <input class="checkbox" type="checkbox" id="sales" name="department" value="Sales"
                        formControlName="department">
                    <label class="text" for="sales">Sales</label>
                    <input class="checkbox" type="checkbox" id="finance" name="department" value="Finance"
                        formControlName="department">
                    <label class="text" for="finance">Finance</label>
                    <input class="checkbox" type="checkbox" id="engineer" name="department" value="Engineer"
                        formControlName="department">
                    <label class="text" for="engineer">Engineer</label>
                    <input class="checkbox" type="checkbox" id="others" name="department" value="Others"
                        formControlName="department">
                    <label class="text" for="others">Others</label>
                </div> -->
            </div>
            <div class="row-content">
                <label class="label text" for="salary">Choose Your Salary: </label>
                <input class="input required" type="range" name="salary" id="salary" min="300000" max="500000"
                    step="100" value="400000" formControlName="salary">
                <output class="salary-output text" for="salary">400000</output>
            </div>
            <div class="row-content">
                <!-- <mat-label class="label text" for="startDate"> Start Date </mat-label>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>  -->

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                <!-- <label class="label text" for="startDate" name="date">Start Date</label>
                <div>
                    <select id="day" class="startDate required" name="Day" formControlName="date">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <select id="month" class="startDate required" name="Month" formControlName="date">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select id="year" class="startDate required" name="Year" formControlName="date">
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                    </select>
                </div> -->
            </div>
            <div class="row-content">
                <label class="label text" for="notes">Notes</label>
                <textarea id="notes" class="input required" name="Notes" placeholder="" style="height:100px"
                    formControlName="notes"></textarea>
                <span class="notes" *ngIf="notes && notes.invalid "> The note field is required,And it should contain
                    minimum of 4 character.</span>
            </div>

            <div class="buttonParent">
                <a href="./home.html" class="resetButton button cancelButton" routLink="/dashboard">Cancel</a>
                <div class="submit-reset">
                    <button type="submit" class="button submitButton" id="submitButton" routLink="/home"
                        [disabled]="!employeeForm.valid">Submit</button>
                    <button type="reset" class="resetButton button">Reset</button>
                </div>
            </div>
        </form>
    </div>
</body>