<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,500&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
  <title>Employee Payroll App</title>
</head>
<body>
  <header class="header-content header">
    <div class="logo-content">
      <img src="./assets/images/logo.png" alt="logo">
      <div>
        <span class="emp-text">EMPLOYEE</span><br>
        <span class="emp-text emp-payroll">PAYROLL</span>
      </div>
    </div>
  </header>
  <div class="main-content">
    <div class="header-content employee-header">
      <div class="emp-detail-text">
        Employee Details
        <div class="emp-count">10</div>
      </div>
      <a class="add-button"  routerLink="/dashboard">
        <img src="./assets/icons/icons8-plus-+.svg" alt="">Add User
      </a>
      </div>
      <div class="table-main">
        <table id="display" class="table">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Suraj</td>
                <td>khomane</td>
                <td>
                    <div class="dept-label">HR</div>
                    <div class="dept-label">Engineer</div>
                </td>
                <td>400000</td>
                <td>12 Mar 2020</td>
                <td>
                    <img id="1" onclick="remove(this)" alt="delete" src="../assets/icons/icons8-delete.svg">
                    <img id="1" onclick="update(this)" alt="edit" src="../assets/icons/icons8-edit.svg">
                </td>
            </tr>
        </table>
    </div>
  </div>
  </body>
</html>